<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printer Part Picker</title>
</head>
<body>
    <nav>
        <a id="headerLink" href="/printers">Printers Page</a>
        <a id="headerLink" href="/parts">Parts Page</a>
        <a id="headerLink" href="/printers/new">New Printer</a>
        <a id="headerLink" href="/parts/new">New Part</a>
    </nav>