<%- include('./partials/header.ejs') %>
<div class="container">
    <form action="/printers" method="POST">
        <h1>New Printer Entry</h1>
        <input type="text" name="name" placeholder="Name"/><br><br>
        <input type="text" name="basePrinter" placeholder="Base Printer"/><br><br>
        <input type="text" name="motionSystem" placeholder="Motion System"/><br><br>
        <input type="text" name="bed" placeholder="bed"/><br><br>
        <input type="text" name="psu" placeholder="PSU"/><br><br>
        <input type="text" name="motherboard" placeholder="Motherboard"/><br><br>
        <input type="text" name="extruder" placeholder="Extruder"/><br><br>
        <input type="text" name="hotEnd" placeholder="Hot End"/><br><br>
        <input type="text" name="nozzle" placeholder="Nozzle"/><br><br>
        <input type="text" name="lcd" placeholder="LCD"/><br><br>
        <input type="text" name="filaRunout" placeholder="Filament Runout Sensor"/><br><br>
        <input type="text" name="img" placeholder="image url"/><br><br>
        <input type="text" name="price" placeholder="Price"/><br><br>
        <input type="submit" value="Add Printer">
    </form>
</div>
<%- include('./partials/footer.ejs') %>