<%- include('./partials/headerPart.ejs') %>
    <a id="newPrinter" href="/printers/new">New Printer</a> <br/>
    <a id="newPart" href="/parts/new">New Part</a> <br/>
    <img id="newPrinterImg" src="https://i.pcmag.com/imagery/roundups/075s6pAZ0tD0joFomIaUF6W-1..v1595828696.jpg"></img><br/>
    <img id="newPartImg" src="https://www.circuitmagic.com/wp-content/uploads/2018/04/3d-printer-parts.jpg"></img>
<%- include('./partials/footer.ejs') %>