<%- include('./partials/header.ejs') %>
<div class="container">
    <form action="/parts/<%= type %>" method="POST">
        <h1>New Nozzle Entry</h1>

        <label for="type">Type</label>
        <input type="text" name="type" value="<%= type %>" readonly><br/>

        <label for="name">Name</label>
        <input type="text" name="name" required><br/>

        <label for="diameter">Diamater</label>
        <input type="number" name="diameter"> <br/>

        <label for="material">Material</label>
        <input type="text" name="material"> <br/>

        <label for="img">Image</label>
        <input type="text" name="img"> <br/>

        <label for="price">Price</label>
        <input type="number" name="price" required> <br/>

        <input type="submit" value="Make Nozzle">
    </form>
</div>
<%- include('./partials/footer.ejs') %>