<%- include('./partials/headerPrinter.ejs') %>
    <form action="/printers" method="POST">
        <h1>New Printer Entry</h1>

        <a href="/printers" class="backLabel">Back to printers page</a>

        <!-- dropdown for type -->
        <label id="basePrinterDropdown" for="basePrinter">Base Printer:</label>
        <select name="basePrinter" >
            <option value="none">None</option>
           <% for (let i = 0; i < printers.length; i++) {%>
            <option value="<%= printers[i].name %>"> <%= printers[i].name %> </option>
            <% } %>
        </select> <br><br>

        <input type="submit" value="Make New Printer">
    </form>
<%- include('./partials/footer.ejs') %>